{% extends "PaperMainBundle::layout.html.twig" %}

{% block breadcrumb %}
    <a href="{{ path('paper_add') }}"><span class="btn btn-primary">Создать</span></a>
    <span class="btn btn-warning" data-toggle="modal" data-target="#myModal">Добавить на склад</span>
    <br style="clear: both"/>
    <br style="clear: both"/>
{% endblock %}

{% block content %}
    <div class="well">
        <table class="table">
            <tr>
                <th>№</th>
                <th>Название</th>
                <th></th>
                <th>Количество</th>
                <th>Заморожено</th>
                <th>Свободно</th>
                <th>Статус</th>
                <th class="setting">Инструменты</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td></td>
                    <td>{{ item.count}}</td>
                    <td>{{ item.frozen }}</td>
                    <td>{{ item.count - item.frozen}}</td>
                    <td>{{ item.enabledStr }}</td>
                    <td class="setting">
                        {% spaceless %}
                        {#<a href="{{ path('paper_addcount',{'id' : item.id}) }}"></a>#}
                        <a href="{{ path('paper_edit',{'id' : item.id}) }}">
                            <button type="button" class="btn btn-default btn-bg">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                            &nbsp;
                            &nbsp;
                        <a href="{{ path('paper_remove',{'id' : item.id}) }}">
                            <button type="button" class="btn btn-default btn-bg">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </a>
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor%}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="POST" action="{{ path('paper_addcount') }}">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Добавление бумаги на склад</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label" for="paper_mainbundle_paper_enabled">Выберите бумагу</label>
                                <select id="paper_mainbundle_paper_enabled" name="paperId" class="form-control">
                                    {% for paper in papers %}
                                        <option value="{{ paper.id }}">{{ paper.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label required" for="paper_mainbundle_paper_count">Количество</label>
                                <input type="number" name="paperCount" required="required" class="form-control" value="0">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#popupBottom').modalPopover()
        });
    </script>
{% endblock %}

{% block stylesheets %}
        {{ parent() }}
        <style>
            .modal-dialog {
                width: 600px;
                margin: 200px auto;
            }
        </style>
{% endblock %}