{% extends "PaperMainBundle::layout.html.twig" %}

{% block breadcrumb %}
    {#<ul class="breadcrumb well">#}
        {#<li><a href="{{ path('admin_main') }}">Домой</a> <span class="divider"></span></li>#}
        {#<li><a href="{{ path('admin_page_list') }}">Страницы</a> <span class="divider"></span></li>#}
        {#<li class="active">Изменение<span class="divider"></span></li>#}
    {#</ul>#}
{% endblock %}

{% block content %}
    {#<div class="well">#}
        {#<iframe src="{{ path('admin_file_list') }}" class="frame"></iframe>#}
    {#</div>#}
    <div class="well">
        {% if item.user == app.user or is_granted('ROLE_ADMIN') %}
            <form method="POST">
                {{ form_widget(form) }}
            </form>
        {% else %}
            <div id="paper_mainbundle_order">
                <div class="form-group">
                    <label class="control-label required" for="paper_mainbundle_order_title">Название заказа</label>
                    {{ item.title }}
                </div>
                <div class="form-group">
                    <label class="control-label" for="paper_mainbundle_order_enabled">Активность</label>
                    {{ item.enabledStr }}
                </div>
        {% endif %}

    </div>
    <div class="well">
        <h2>Бумага</h2>
        <iframe src="{{ path('frozenPaper_list',{'orderId' : id}) }}" class="frame"></iframe>
    </div>
    <div class="well">
        <h2>Брак</h2>
        <iframe src="{{ path('marriagePaper_list',{'orderId' : id}) }}" class="frame"></iframe>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .frame{
            width: 100%;
            height: 300px;
        }
        #paper_mainbundle_order_end_time_hour{
            margin-left: 20px;
        }
    </style>

{% endblock %}